<div class="constrain-10 pd-md">

	<h1>{{title}}</h1>

	{{{intro}}}

	{{#styles}}
		<h2>{{class-name}}</h2>
		{{{class-description}}}
		<div class="mg-md bg-light margin-md pd-lg richtext">
			{{#samples}}
				{{{this}}}
				<hr/>
			{{/samples}}
		</div>
	{{/styles}}

</div>